---
title: Iterate faster, innovate together
description: "GitLab's DevOps platform is a single application for unparalleled collaboration, visibility, and development velocity. Learn more here!"
canonical_path: "/"
hreflang_value: "x-default"
hreflang_url: "https://about.gitlab.com/"
suppress_header: true
disable_default_styles: true
disable_handbook_styles: true
data_identifier: Homepage
extra_css:
  - home2020.css
  - bl-modal.css
  - video-carousel-v2.css
extra_js:
  - libs/slick.min.js
  - libs/on-scroll.js
  - all-clickable.js
  - video-carousel.js
---

= partial "includes/home/hero"

= partial "includes/home/featured-content"

= partial "includes/home/customer-benefits"

= partial "includes/home/brag-wall"

= partial "includes/home/compliance-badges"

= partial "includes/home/sdlc"

= partial "includes/home/call-to-action"


